* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    color: #f7f7f7;
}

a {
    text-decoration: none;
    color: #00007d;
}
#about-expand {
    position: absolute;
    left: 5px;
    top: 3px;
}

#about {
    display: none;
    position: absolute;
    left: 2%;
    top: 5%;
    width: 50%;
    background: rgba(0,0,0,0.9);
    padding: 10px 10px 0 10px;
    border-radius: 8px;
}

#content-container {
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    bottom: 0;
}


#apod {
    position: absolute;
    width: 35%;
    bottom: 20px;
    left: 0;
}

#apod-video {
    width: 640px; 
    height: 385px;
}

#copyright, #apod-date, .signature, #about h2 {
    font-style: italic;
}

#apod-slider {
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.8);
    padding: 8px 25px 8px 25px;
}

.off {
    border-radius: 8px 8px 0 0;
}

.on {
    border-radius: 0;
}

#apod-details, .show-planets {
    background: rgba(0,0,0,0.8);
    border-radius: 8px 8px 0 0;
    padding: 5px 25px 10px 25px;
}

.show-planets {
    position: absolute;
    right: 0px;
    bottom: 0;
    width: 100%;
}
.show-planets .planet-image {
    width: 100%;
    margin: -10px -25px 10px;
    border-radius: 8px 8px 0 0;
    display: none;
}

#apod-form,
#copyright,
#apod-date,
#apod-title,
#apod-explaination,
#apod-details {
    display: none;
}

#apod-title {
    font-weight: bold;
}

#planet-container {
    position: absolute;
    border-radius: 8px 8px 0 0;
    width: 65%;
    bottom: 20px;
    right: 0;
}

#mars, #earth {
    position: absolute;
    width: 35%;
    bottom: 73px;
    background: rgba(0,0,0,0.8);
    border-radius: 8px 8px 0 0;
    padding: 10px 10px 0 10px;
    display: none;
}

#mars {
    right: 35%;
}

#earth {
    right: 0;
}

/* Google maps canvas */
#map_canvas {
    height:225px;
}

form {
    padding-right: 10%;
    padding-left: 10%;
}

#mars-img-id, #earth-img-id {
    width: 100%;
    box-shadow: 0px 0px 0px 2px #000;
    border-radius: 15px;
    display: none;
}
#mars-img-id {
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
}
.panel-footer p {
    display: inline;
    padding-left: 10px;
    margin: 0;
}

/******   RANGE SLIDER STYLING *****/
#longSlider, #latSlider {
    width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 18px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -14px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
}

input[type=range]::-moz-range-track {
    width: 50%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 12px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: #3071a9;
}

input[type=range]:focus::-ms-fill-upper {
    background: #367ebd;
}